body a{
    text-decoration: none;
}
.educations , .experiences{
    background-color: #1D2228;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #DDD;
    color: #FFF;
}

.educations h2 , .experiences h2 {
    margin-bottom: 10px;
}

.education , .experience{
    padding: 5px;
    background-color: #21A0A0;
    border-radius: 10px;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    
}
.experience h4{
    line-height: 1.5;
}

.education h4 span , .experience h4 span , .job-primary-data h4 span{
    font-weight: bold;
}

.tag{
    margin:5px;
    padding: 10px;
    border:1px solid #CCC;
    background-color: #1D2228;
    border-radius: 10px;
    max-width: 50px;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: #FFF;
    display: inline-block;
}

.job-primary-data{
    color: #FFF;
    background-color: #1D2228;
    padding: 10px;
    border-radius: 5px;
    word-spacing: 1px;
    letter-spacing: .5px;
}

.job-primary-data .description{
    border: 1px solid #CCC;
    padding: 2px;
    background-color: rgb(78, 78, 71);
    border-radius: 5px;
    
}

.job-primary-data h4{
    line-height: 1.5;
}

.search{
    width: 150px;
    font-size: 13px;
}

select{
    width: 150px;
    font-size: 13px;
    height: 25px;
}

.more-data{
    font-size: 13px;
}